body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.wrap {
  background: #333;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 420px;
}

.img {
  width: 100%;
  border-radius: 12px;
}

.h1 {
  color: orange;
  margin: 10px 0;
}